<launch>

  <node name="usb_cam" pkg="usb_cam" respawn="true" type="usb_cam_node" output="screen">
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
    <remap from="/usb_cam/image_raw" to="/image"/>
  </node>

  <rosparam param="thresh/">
    high: {h: 171, s: 223, v: 255}
    low: {h: 160, s: 45, v: 57}
  </rosparam>

  <node pkg="fanboat_ll" name="fanboat_serial" type="fanboat_serial.py" respawn="true" />

  <node pkg="project" name="rocketNode" respawn="true" type="rocket_node.py" output="screen"/>
  <node pkg="project" name="rocketship" type="rocket_ship.py" output="screen"/>

  <include file="$(find ball_detector)/launch/displayDebugImages.launch" />
  <node pkg="ball_detector" name="ball_detector_node" type="ball_detector_node" output="screen" respawn="true" />

  <node pkg="landmark_self_sim" name="landmarkDetector" type="landmarkDetector" respawn="true" >
    <remap from="/image" to="/image/landmark" />
  </node>
    <!--<remap from="/image" to="/image/ball" />
  </node>-->

  <!--<node pkg="landmark_self_sim" name="landmarkDetector" type="landmarkDetector" respawn="true" >
    <remap from="/image" to="/image/landmark" />
  </node>-->
  <node pkg="lab3" name="ballLandInfo" type="ballLandInfo" output="screen" respawn="true" />
  <node name="my_cmd_script" pkg="project" type="run_cmd.py" output="screen">
    <param name="password" value="team123" />
  </node>
  <node pkg="lab2" name="angularPositionPID" type="angularPositionPID" respawn="true" />
  <param name="pValue" type="double" value="60"/>
  <param name="dValue" type="double" value=".05"/>
  <param name="iValue" type="double" value="0.0000"/> <!--0.0005 was working ok ish-->
  <param name="iMax" type="double" value="0.0"/>
  <param name="rightScale" type="double" value="1.4"/>
  <param name="leftScale" type="double" value="1.4"/>

  <param name="landmarkCode" type="int" value="73"/>

	<node pkg="lab3" name="ballConstant" type="ballConstant" output="screen" respawn="true" />
  <node pkg="lab3" name="landConstant" type="landConstant" output="screen" respawn="true" />
  <node pkg="lab3" name="visualArbitrator" type="visualArbitrator">
	  <remap from="/usb_cam/image_raw_ball" to="/image/ball" />
	  <remap from="/usb_cam/image_raw_land" to="/image/landmark" />
	  <remap from="/usb_cam/image_raw" to="/image" />
	</node>
</launch>
